body {
    background-image: url('images/x.webp');
    background-size: cover;
    background-position: center;
}
@media (max-width: 768px) {
  body {
    background-image: url('images/xweb.webp'); /* Use a mobile-friendly version */
  }
}
